.subscribete{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    border: 3px solid rgb(241, 185, 43);
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 9px grey;
}

.texto{
    padding: 5px;
}

.botonsub{
    margin-top: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.divisor{
    height: 10px;
}